{% extends "layout/base.html.twig" %}

{% block title %}Detail d'une annonce{% endblock %}

{% block content %}

    <h1>{{ annonce.titre }}</h1>

    {% if annonce.images|length > 0 %}
        <img class='card-img-top' width="100%" height="225" src="{{ vich_uploader_asset( annonce.images|first, 'imageFile') }}">

        {% else %}

            <svg  class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        {% endif %}

        <p>{{ annonce.discreption }}</p>


    {% endblock %}